body {
    background-color: white;
    font-family: Consolas;
    overflow: auto;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
}

.center {
    text-align: center;
}

.section {
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    margin-top: 10px;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a {
    color: aquamarine;
    text-decoration: none;
}

img {
    max-width: 500px;
}

.imgContainer {
    width: 80%;
}

.centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    width: 200px;
    font-size: 30px;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(181, 101, 118);
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(179, 122, 134);
}


/*Custom Scrollbar code*/


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*pallete*/

.pallete {
    color: rgb(53, 80, 112);
    color: rgb(109, 89, 122);
    color: rgb(181, 101, 118);
    color: rgb(229, 107, 111);
    color: rgb(234, 172, 139);
}